﻿.content {
  margin-top: 50px;
}
.content-right td {
   text-align: right;
 }
.content-right th {
  text-align: right;
}
.movies-list {
  margin-top: 25px;
}
.create-form {
  margin-top: 25px;
}
.create-form .btn {
  margin-top: 10px;
}
.auth-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px;
}
.auth-container .btn {
  margin: 20px 20px 0 0;
}