<div class="row">
    <div class="col-md-offset-1 col-md-10 movies-list">
        <a class="btn btn-sm btn-info" href="#/movies/create">Add movie</a>
        <table class="table table-striped content-right">
            <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Rating</th>
                <th>Genre</th>
                <th>Release Year</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="movie in moviesListController.movies">
                <td>{{movie.title}}</td>
                <td>{{movie.duration.toString().concat(' min') || ''}}</td>
                <td>{{movie.rating}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.releaseYear}}</td>
                <td>
                    <button class="btn btn-xs btn-info" data-toggle="tooltip"
                            data-placement="left" ng-click="moviesListController.updateMovie(movie)">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button class="btn btn-xs btn-danger" data-toggle="tooltip"
                            data-placement="left" ng-click="moviesListController.deleteMovie(movie)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>