<div class="row">
    <div class="col-md-offset-1 col-md-5 create-form">
        <form name="updateMovie" novalidate>
            <div class="form-group">
                <label for="movie-title">Title</label>
                <input name="title" type="text" class="form-control" id="movie-title"
                       placeholder="Movie Title" required novalidate
                       ng-model="movieUpdateController.movie.title">
                <div data-ng-if="updateMovie.title.$invalid && updateMovie.title.$touched">
                    <span class="validation-error">Title is required</span>
                </div>

                <label for="duration">Duration in minutes</label>
                <input name="duration" type="number" class="form-control" id="duration"
                       placeholder="Duration" min="20" max="360" ng-model="movieUpdateController.movie.duration">
                <div data-ng-if="updateMovie.duration.$error.min || updateMovie.duration.$error.max">
                    <span class="validation-error">Duration should be in a range 20 to 360</span>
                </div>

                <label for="rating">Rating</label>
                <input name="rating" type="number" class="form-control" id="rating"
                       placeholder="Rating" min="0" max="10" ng-model="movieUpdateController.movie.rating">
                <div data-ng-if="updateMovie.rating.$error.min || updateMovie.rating.$error.max">
                    <span class="validation-error">Rating should be in a range 0 to 10</span>
                </div>

                <label for="genre">Genre</label>
                <input name="genre" type="text" class="form-control" id="genre"
                       placeholder="Genre" ng-model="movieUpdateController.movie.genre">

                <label for="releaseYear">Release Year</label>
                <input name="releaseYear" type="number" class="form-control" id="releaseYear"
                       placeholder="Release Year" min="1896" max="2016" ng-model="movieUpdateController.movie.releaseYear">
                <div data-ng-if="updateMovie.releaseYear.$error.min || updateMovie.releaseYear.$error.max">
                    <span class="validation-error">Year should be in a range 1896 to 2016</span>
                </div>
                <button ng-disabled="updateMovie.$invalid"
                        class="btn btn-info btn-sm"
                        ng-click="movieUpdateController.updateMovie()">
                    Update
                </button>
                <a class="btn btn-info btn-sm" href="#/movies">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>