<div class="navbar-brand"></div>
<div aria-label="auth" class="auth">
    <div class="col-md-offset-3 col-md-6 auth-container">
        <form class="form-signin" name="auth">
            <h2 class="form-signin-heading">Please login</h2>
            <label for="inputEmail">Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required
                   ng-model="loginController.credentials.email"
                   name="email">

            <div data-ng-if="auth.email.$invalid && auth.email.$touched">
                <span class="validation-error">Invalid format of email</span>
            </div>

            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                   ng-model="loginController.credentials.password"
                   name="password" ng-minlength="6">

            <div data-ng-if="auth.password.$invalid && auth.password.$touched">
                <span class="validation-error">Password is required and should be at least 6 numbers</span>
            </div>

            <div class="input-group display-block">
                <button class="btn btn-sm btn-info centered" type="submit"
                        data-ng-disabled="auth.$invalid"
                        data-ng-click="loginController.login()">Login</button>
                <a href="#/registration" class="btn btn-sm btn-info separate-right">To registration</a>
            </div>
        </form>
    </div>
</div>