<div class="navbar-brand"></div>
<div aria-label="auth" class="auth">
    <div class="col-md-offset-3 col-md-6 auth-container">
        <form class="form-signin" name="registration">
            <h2 class="form-signin-heading">Please register</h2>
            <label for="inputEmail">Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required
                   ng-model="registrationController.credentials.email"
                   name="email">

            <div data-ng-if="registration.email.$invalid && registration.email.$touched">
                <span class="validation-error">Invalid format of email</span>
            </div>

            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                   ng-model="registrationController.credentials.password"
                   name="password" ng-minlength="6">

            <div data-ng-if="registration.password.$invalid && registration.password.$touched">
                <span class="validation-error">Password is required and should be at least 6 numbers</span>
            </div>

            <div class="input-group display-block">
                <button class="btn btn-sm btn-info centered" type="submit"
                        data-ng-disabled="registration.$invalid"
                        data-ng-click="registrationController.register()">Register</button>
                <a href="#/login" class="btn btn-sm btn-info separate-right">To login</a>
            </div>
        </form>
    </div>
</div>